<h1> <%= @dish.name %></h1>
<p>Chef: <%= @dish.chef.name %> </p>
<p><b>Ingredients</b></p>
<% @dish.ingredients.each do |ingredient| %>
  <p> <%= ingredient.name %></p>
<%end%>

<p><b>Total Calories:</b> <%=@dish.ingredients.total_calories %></p>